* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #f8f8f8;
}

// app transitions
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.page {
  min-height: calc(100vh - 120px);
  padding: 30px;
}

// fixed colors
.key {
  color: #707070;
  background-color: #241e1e;
  padding: 10px;
  border-radius: 5px;
}

.value {
  color: $secondaryColor;
}

.orange-text {
  color: $primaryColor;
}
