* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #f8f8f8;
}

// app transitions
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.ads-pages,
.branches-page,
.orders-page {
  min-height: calc(100vh - 120px);
  padding: 30px;
}

// Search Input
.search {
  position: relative;

  &__icon {
    position: absolute;
    top: 20%;
    left: 10px;
    z-index: 1;
    width: 20px;
    margin: 0 5px;
  }
}

// Upload Image
.el-upload-dragger {
  width: 250px;
}

// CK editor
.editor {
  width: 100%;
}

.ck.ck-reset {
  max-width: 90% !important;
  margin: 5px auto !important;
}
